.header-logo{
    width: 90px;
}

.shadow-box{
    -webkit-box-shadow: 0px 2px 44px -10px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 2px 44px -10px rgba(0,0,0,0.62);
box-shadow: 0px 2px 44px -10px rgba(0,0,0,0.62);
}