/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
body,html{
    font-family: 'Noto Sans', sans-serif !important;
}

h1,h2,h3,h4,p{
    font-family: 'Noto Sans', sans-serif !important;
}

.modal-dialog {
    max-width: 90% !important;
    @media screen and (max-width: $sm) {
        max-width: 95% !important;
    }
}

.ngx-pagination{
    padding: 0;
}